
Image-Classification/pokedexModel.model/saved_model.pb
Image-Classification/pokedexModel.model/variables/variables.data-00000-of-00002
Image-Classification/pokedexModel.model/variables/variables.data-00001-of-00002
